body {
  background-color: black;
}

#header2 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  margin: 5px;
  padding: 5px;
  text-decoration: underline;
}

.topnav {
  background-color: black;
  overflow: hidden;
  padding: 6px;
}

.topnav a {
  float: right;
  margin: 5px;
  color:dimgray;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;

}

.topnav a:hover {
  background-color: black;
  color:lightgray;
}

.topnav header {
  color: white;
  margin: 5px;
  float: left;
  text-align:center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

}

.about {
  display: flex;
  align-items: center;
}


.about h2 {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 6px;
  padding: 5px;
  float: left;

}

.about article {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3px;
  padding: 5px;
  float: left;
}

.about img {
  width: 250px;
  float: right;
  padding: 3px;
  margin: 30px;

}

.about2 {
  display:flex;
  align-items: center;
}

.about2 h2 {
  color:white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 6px;
  padding: 5px;
  float: left;
}

.about2 article {
  color:white;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3px;
  padding: 5px;
  
}

.about2 img {
  float:right;
  width: 250px;
  padding: 3px;
  margin: 30px;

}


